.planet{
    padding: 30px;
    padding-top: 100px;
}

/* .planet > div{
    border: 1px solid gray;
} */

.residents{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}



@media (max-width:992px){
    .residents{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width:550px){
    .residents{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}


.residents > div{
    box-shadow: rgba(137, 217, 225, 0.95) 0px 5px 15px;
    border: 2px solid rgba(137, 217, 225, 0.95);
    backdrop-filter: blur(1px);

    /* padding: 5px; */
    border-radius: 10px;
}

.residents > div > img{
    width:100%;
    border-radius: 10px;
}