.planet b{
    /* font-family: 'Megrim', cursive; */
    margin: auto;
    font-size: 50px;
    text-shadow: 
        0 0 5px #ea4444,
        0 0 10px #ea4444,
        0 0 20px #ea4444,
        0 0 40px #ea4444,
        0 0 80px #ea4444;
}


.planet{
    padding: 30px;
    padding-top: 100px;
}

/* .planet > div{
    border: 1px solid gray;
} */

.residents{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    margin-bottom: 50px;
}



@media (max-width:1140px){
    .residents{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
}

@media (max-width:868px){
    .residents{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}

@media (max-width:550px){
    .residents{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
}


.residents > div{
    box-shadow: rgba(137, 217, 225, 0.95) 0px 5px 15px;
    border: 2px solid rgba(137, 217, 225, 0.95);
    backdrop-filter: blur(1px);

    /* padding: 5px; */
    border-radius: 10px;
}

.residents > div > img{
    width:100%;
    border-radius: 10px;
}