.navbar{
    /* background-image: url("https://i.pinimg.com/originals/90/2f/b6/902fb683da6e99129aa43990f81607cd.gif"); */
    box-shadow: rgba(133, 187, 209, 0.8) 0px 1px 0px;
    padding:5px 20px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background:transparent;
    backdrop-filter: blur(20px);
    z-index: 1000;
}
@media (max-width:650px){
    .navbar{
        top:49px;
    }
}


/* Title */

.title{

    position: fixed;
    width: 100%;
    top:0px;
    z-index: 10000;
        font-family: 'Megrim', cursive;
        margin: auto;
        text-shadow: 
            0 0 5px #0bf4f3,
            0 0 10px #0bf4f3,
            0 0 20px #0bf4f3,
            0 0 40px #0bf4f3,
            0 0 80px #0bf4f3;
            border-bottom: 1px solid #0bf4f3;
            backdrop-filter: blur(20px);
    }

    .title > h1{
        margin: 5px;
    }

    @media (min-width:650px){
        .title{
            display: none;
        }
    }




.navbar h1{
    font-family: 'Megrim', cursive;
    margin: auto;
    text-shadow: 
        0 0 5px #0bf4f3,
        0 0 10px #0bf4f3,
        0 0 20px #0bf4f3,
        0 0 40px #0bf4f3,
        0 0 80px #0bf4f3;
}

@media (max-width:650px){
    .navbar{
        justify-content: space-between;
    }
    .navbar h1{
        display: none;
    }
}

.navbar > img{
    width: 100px;
    border-radius: 50%;
}

@media (max-width:650px){
    .navbar > img{
        width: 70px;
    }
}


.button{
    border:1px solid white;
    margin:auto; padding:5px 10px; background-color:black;
     color:white;
      font-weight:600
}

.button:hover{
    background-color: gray;
}

.navHome{
   margin:auto 0;
         margin-right:80px
}

@media (max-width:600px){
    .navHome{
        margin:auto 0;
              margin-right:50px
     } 
}