.navbar{
    /* background-image: url("https://i.pinimg.com/originals/90/2f/b6/902fb683da6e99129aa43990f81607cd.gif"); */
    box-shadow: rgba(133, 187, 209, 0.8) 0px 1px 0px;
    padding:5px 20px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background:transparent;
    backdrop-filter: blur(20px);
    z-index: 10000;
}

.navbar h1{
    font-family: 'Megrim', cursive;
    margin: auto;
    text-shadow: 
        0 0 5px #0bf4f3,
        0 0 10px #0bf4f3,
        0 0 20px #0bf4f3,
        0 0 40px #0bf4f3,
        0 0 80px #0bf4f3;
}

.navbar > img{
    width: 100px;
    border-radius: 50%;
}


.button{
    border:1px solid white;
    margin:auto; padding:5px 10px; background-color:black;
     color:white;
      font-weight:600
}

.button:hover{
    background-color: gray;
}

.navHome{
   margin:auto 0;
         margin-right:80px
}

@media (max-width:600px){
    .navHome{
        margin:auto 0;
              margin-right:50px
     } 
}